@import "../../styles/typography";
@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}
*, *::before, *::after{
    box-sizing: border-box;
}

.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    &__heading {
        font-family: $titilliumbeb-bold;
        font-size: 2rem;
        padding-left: 1rem;
    }

    &__cards{
        width: 100%;
        display: flex;
        flex-direction: column;
        @include tablet{
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        }
    }


}