@import "../../styles/typography";
.citylistingpage{
    display: flex;
    flex-direction: column;
    &__heading{
        margin: 0;
        padding: 1rem 0 0 1rem;
        font-family: $titilliumbeb-bold;
    }
    &__link{
        text-decoration: none;
        color: black;
    }
    &__nolistings{
        font-family: $titilliumbeb-regular;
        font-size: 1rem;
        padding-left: 1rem;
    }
}