@import "../../styles/typography";

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}



@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}
*, *::before, *::after{
    box-sizing: border-box;
}
.citylistingdetails{
display: flex;
flex-direction: row;
align-items: center;
padding: 1rem 1rem;
background-color: lightgrey;
margin: 1rem 1rem;
text-decoration: none;
@include tablet{
    
}

&__image{
    height: 4rem;
    width: 100%;

    @include tablet{
        height: 8rem;
    }

    @include desktop{
        height: 10rem;
    }

}
&__left{
    width: 50vw;
    @include tablet{
    width: 20vw;
    }
}

&__right{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-evenly;
    @include tablet{
        flex-direction: row;
       
    }

    &--details{
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: space-evenly;
        @include tablet{
            flex-direction: row;
            justify-content: space-evenly;
            // width: 100%;
        }
    }

    &--chevron{
        display: flex;
        flex-direction: column;
        width:50%;
        // justify-content: flex-end;
        @include tablet{
            width: 20%;
            flex-direction: row;
        }
    }
    &--city{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0;
        // width: 20%;
        padding-left: 1rem;
        text-transform: capitalize;
        font-family: $titilliumbeb-bold;
        color:#34495e;
        @include tablet{
            font-size: 1.5rem;
        }
        @include desktop{
            font-size: 1.8rem;
        }
    }
}
}

.chevron__img{
    width: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @include tablet{
        width: 3rem;
    }
}